<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo">Rojas Zavala Jorgue Luis</h3>
            <a routerLink="/inicio" style="color: azure;">Regresar</a>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay">
                    <img src="../assets/img/luis.jpg" width="100" height="100" />
                    <h2 class="title">Perfil</h2>
                    <p class="description">Edad: 21
                    </p>
                    <p class="description">Correo:rojaszavala@gmail.com
                    </p>
                    <p class="description">Telefono:5577987378
                    </p>
                    <p class="description">Nacionalidad:Mexicana 
                    </p>
                    <a routerLink="/inicio" class="btn">Confirmar</a>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
</div>
<router-outlet></router-outlet>
