<div class="container">
    <h1>
       <a href="#menu">Precioname guap@</a>
    </h1>
       
   <div class="popover" id="menu">
    <div class = 'content'>
     <a href="#" class="close"></a>
      <div class = 'nav'>
       <ul class = 'nav_list'>
         
         <div class = 'nav_list_item'>
         <li><a routerLink="/acercade">Gabriel</a></li>
         <router-outlet></router-outlet>
         </div>
        <div class = 'nav_list_item'>
           <li><a routerLink="/acercadeluis">Luis</a></li>
         </div>
       <div class = 'nav_list_item'>
         <li><a routerLink="/contacto">Contacto Gabriel</a></li>
         </div>
       <div class = 'nav_list_item'>
         <li><a routerLink="/contactoluis">Contacto Luis</a></li>
         </div>  
       </ul>
     </div>
    </div>
    </div>
    </div>
    <router-outlet></router-outlet>